 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #0F2336;
}

h1,
h2,
h2,
h3,
h4,
h5,
h5 {
    color: #0F2336;
}


nav {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_inner {
    width: 1240px;
    height: 50px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

nav .nav__inner_list {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__inner_list p {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


.nav__inner_list button {
    width: 122px;
    height: 50px;
    background-color: #0F2336;
    color: aliceblue;
    border: 1px solid #0F2336;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    display: flex;
    height: auto;
    margin: 70px auto;
}

.hero__left button {
    background-color: #00CCCC;
    font-size: 18px;
    font-weight: bold;
    width: 208px;
    height: 60px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
}

.hero__left h1 {
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 50px;
}

.hero__left {
    width: 50%;
}

.hero__right #trees {
    width: 732px;
    margin-top: -103px;
}

.hero__right {
    width: 85%;
    position: relative;
}

.hero__right #hero_image {
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.features {
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
}

.features .feature {
    width: auto;
    max-width: 325px;
    margin: 20px 0;
}

.features h2 {
    margin-top: 30px;
}

.features p {
    margin-top: 12px;
    color: #576D81;
    font-size: 16px;
}


.info {
    display: flex;
    align-items: center;
    margin: 130px auto;
    height: 540px;
    background-color: #F4F5F6;
    border-radius: 50px;
}

.info img {
    width: 640px;
    height: 640px;
}

.info__description img {
    width: 109px;
    height: 10px;
    margin-top: 50px;
}

.info .info__description h2 {
    font-size: 40px;
    max-width: 195px;
    margin: 20px 0;
}

.info .info__description p {
    min-width: 414px;
    font-size: 16px;
    color: #576D81;
    line-height: 24px;
}

.benefits {
    width: 100%;
    height: 527px;
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 200px;
    background-color: #F4F5F6;
}

.benefits__content {
    display: flex;
    align-items: center;
    position: relative;
}

.benefits__list {
    width: 505px;
    display: flex;
    flex-direction: column;
    margin-top: -37px;
}

.benefits__list__item {
    width: 455px;
    height: 179px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
    padding: 25px;
    display: flex;
}

.benefits__list__item img {
    width: 50px;
    height: 50px;
    margin-right: 23px
}

.benefits__list__item:nth-child(2) {
    align-self: flex-end;
}

.benefits__list__item__desc {
    margin-top: 13px;
    max-width: 310px;
}

.benefits__list__item__desc h2{
    font-size: 25px;
    margin-bottom: 25px;
}

.benefits__list__item__desc p{
    color: #576D81;
    font-size: 16px;
}
#benefits-img {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    top: -73px;
}
.info:last-child{
    justify-content: space-evenly;
    padding: 50px;
}

.domik__icon{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.snack {
    height: 49px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    font-weight: bold;
}

.input{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

} 

  .container {
    display: flex;
    flex-wrap: wrap;
}
 


.block {
    width: 100%;
    height: 100px;
    background-color: black;
    color: aliceblue;
    margin: 10px;
    font-size: 25px;
}  
